extends layout

block content
  h1= title

  // Loop through shoes and display each shoe
  each shoe in shoes
    .shoe
      p Brand: #{shoe.brand}
      p Size: #{shoe.size}
      p Price: $#{shoe.price}

  // Add a link to go back to the home page
  a(href="/") Go Back to Home
